[build]
  # No build command needed (static + importmap)
  publish = "."

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"
  included_files = ["netlify/functions/**/*"]

[build.environment]
  API_KEY = "AIzaSyCXyejFb-xTE1FJFFwAm91vGuiYo9sEEv8"
